<ion-view title="Aktivität starten">
    <ion-content class="padding">
        <label class="item item-input item-select">
            <div class="input-label">Activity</div>
            <select ng-model="mCtrl.selectedActivityType"
                    ng-options="item as item.label for item in mCtrl.possibleActivityTypes">
            </select>
        </label>

        <label class="item item-input" style="height: 60%;">
            <textarea placeholder="Comments" ng-model="mCtrl.comment"></textarea>
        </label>

        <div class="button button-block" ng-click="openModal()">Start Competition <span class="badge badge-assertive" ng-show="mCtrl.hasOpenCompetitions" ng-model="mCtrl.openCompetitionCount">{{ mCtrl.openCompetitionCount }}</span></div>

        <button class="button button-block button-positive" ng-click="mCtrl.startActivity()">
            Go!
        </button>
    </ion-content>
    </ion-content>
</ion-view>