<ion-view title="Settings">
    <ion-nav-buttons side="right">
        <button side="right" title="mit Firebase verbindet" ng-show="setCtrl.firebaseConection" class="ion-connection-bars">
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-checkbox item-checkbox-right">
                <label class="checkbox">
                    <input type="checkbox"
                           ng-model="setCtrl.autoStop"
                           ng-click="setCtrl.saveAutoStop()"
                           >
                </label>

                <div class="settingOption">Auto Stop</div>
            </label>

            <label class="item item-checkbox item-checkbox-right">
                <label class="checkbox">
                    <input type="checkbox"
                           ng-model="setCtrl.firebaseConection"
                           ng-click="setCtrl.connectWithFirebase()"
                           ng-checked="setCtrl.firebaseConection">
                </label>

                <div class="settingOption">Firebase Verbindung</div>
                Daten mit der Datenbank Firebase <br>synchronisieren
            </label>

            <div class="padding">
                <button class="button button-block button-positive"
                        ng-click="setCtrl.save()">
                    Save
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>