<ion-view title="Summary"> <ion-content> <ion-list>

<div class="card" ng-repeat="stat in stats">
	<div class="item item-divider">{{stat.name}}</div>
	<div class="item item-text-wrap">{{stat.value}}</div>
</div>

<div class="card">
	<div class="item item-divider" data-ng-init="sumCtrl.showTimesWeekChart()">Zeiten</div>
	<div class="item item-text-wrap">
		<div class="button-bar" ng-click="sumCtrl.showTimesYearChart()">
			<a class="button">Jahr</a> <a class="button" ng-click="sumCtrl.showTimesMonthChart()">Monat</a> <a
				class="button" ng-click="sumCtrl.showTimesWeekChart()">Woche</a>
		</div>

		<div>
			<canvas id="chart_times"></canvas>
		</div>
	</div>
</div>

</ion-list> </ion-content> </ion-view>