<ion-view title="Summary"> <ion-content> <ion-list>
<ion-nav-buttons side="right"> </ion-nav-buttons>

<div class="item">
	<center>{{getPeriodText(period_slider)}}</center>
</div>
<div class="item range range-positive">
	<input type="range" name="period" min="1" max="42" value="42"
		ng-model="period_slider" ng-change="update()">
</div>

<div class="card"">
	<div class="item item-divider">Rekorde</div>


	<div ng-repeat="performances in bestPerfs">
		<div class="item">
			<p>
				<b>{{performances.discipline}}</b>
			</p>
			<div class="row" ng-repeat="record in performances.records">
				<div class="col col-50">
					<p>{{record.name}}:</p>
				</div>
				<div class="col col-50">
					<p><b>{{record.value}} {{record.unit}}</b></p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="card"">
	<div class="item item-divider">Durchschnittsleistungen</div>
	<div ng-repeat="performances in avgPerfs">
		<div class="item">
			<p>
				<b>{{performances.discipline}}</b>
			</p>

			<div class="row" ng-repeat="performance in performances.data">
				<div class="col col-50">
					<p>{{performance.name}}:</p>
				</div>
				<div class="col col-50">
					<p><b>{{performance.value}} {{performance.unit}}</b></p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="card"">
	<div class="item item-divider">Gesamtleistungen</div>
	<div class="row item" ng-repeat="performance in overallPerfs">
		<div class="col col-50">
			<p>{{performance.name}}:</p>
		</div>
		<div class="col col-50">
			<p>{{performance.value}}</p>
		</div>
	</div>
</div>



<div class="card">
	<div class="item item-divider"
		data-ng-init="showWeekCharts(); visible_chart='week'">Leistungsverlauf</div>
	<div class="item item-divider">
		<div class="button-bar">
			<a class="button" ng-click="visible_chart='year';showYearCharts()">Jahr</a>
			<a class="button" ng-click="visible_chart='month';showMonthCharts()">Monat</a>
			<a class="button" ng-click="visible_chart='week';showWeekCharts()">Woche</a>
		</div>
	</div>

	<div class="item item-divider">
		<p>Zeit</p>
	</div>
	<div class="item item-text-wrap">
		<div>
			<canvas id="chart_times_week" ng-show="visible_chart=='week'"></canvas>
		</div>
		<div>
			<canvas id="chart_times_month" ng-show="visible_chart=='month'"></canvas>
		</div>
		<div>
			<canvas id="chart_times_year" ng-show="visible_chart=='year'"></canvas>
		</div>

	</div>

	<div class="item item-divider">
		<p>Strecke</p>
	</div>
	<div class="item item-text-wrap">
		<div>
			<canvas id="chart_dist_week" ng-show="visible_chart=='week'"></canvas>
		</div>
		<div>
			<canvas id="chart_dist_month" ng-show="visible_chart=='month'"></canvas>
		</div>
		<div>
			<canvas id="chart_dist_year" ng-show="visible_chart=='year'"></canvas>
		</div>

	</div>
</div>
</ion-list> </ion-content> </ion-view>