<ion-view title="Summary"> <ion-content> <ion-list>
<ion-nav-buttons side="right">
</ion-nav-buttons>



<div class="card"">
	<div class="item item-divider">Rekorde</div>
	<div class="item item-divider">
		<div class="button-bar" data-ng-init="show_overall_records = true">
			<a class="button" ng-click="show_overall_records = true">gesamt</a> <a
				class="button" ng-click="show_overall_records = false">nach
				Disziplin</a>
		</div>
	</div>

	<div ng-show="show_overall_records">
		<div class="row item" ng-repeat="record in overallRecords">
			<div class="col col-50">
				<p>{{record.name}}:</p>
			</div>
			<div class="col col-50">
				<p>{{record.value}}</p>
			</div>
		</div>
	</div>

	<div ng-show="!show_overall_records">
		<div ng-repeat="records in disciplineRecords">
			<div class="item item-divider">
				<p>{{records.discipline}}</p>
			</div>
			<div class="row item" ng-repeat="record in records.records">
				<div class="col col-50">
					<p>{{record.name}}:</p>
				</div>
				<div class="col col-50">
					<p>{{record.value}}</p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="card"">
	<div class="item item-divider">Durchschnittsleistungen</div>
	
</div>


<div class="card"">
	<div class="item item-divider">Gesamtleistungen</div>
	<div class="row item" ng-repeat="performance in overallPerformances">
		<div class="col col-50">
			<p>{{performance.name}}:</p>
		</div>
		<div class="col col-50">
			<p>{{performance.value}}</p>
		</div>
	</div>
</div>



<div class="card">
	<div class="item item-divider"
		data-ng-init="showTimesWeekChart(); chart_times_week_visible=true">Leistungsverlauf</div>
	<div class="item item-divider">
		<div class="button-bar">
			<a class="button"
				ng-click="chart_times_year_visible = true;chart_times_month_visible = false;chart_times_week_visible = false;showTimesYearChart()">Jahr</a>
			<a class="button"
				ng-click="chart_times_year_visible = false;chart_times_month_visible = true;chart_times_week_visible = false;showTimesMonthChart()">Monat</a>
			<a class="button"
				ng-click="chart_times_year_visible = false;chart_times_month_visible = false;chart_times_week_visible = true;showTimesWeekChart()">Woche</a>
		</div>
	</div>

	<div class="item item-text-wrap">
		<div>
			<canvas id="chart_times_week" ng-show="chart_times_week_visible"></canvas>
		</div>
		<div>
			<canvas id="chart_times_month" ng-show="chart_times_month_visible"></canvas>
		</div>
		<div>
			<canvas id="chart_times_year" ng-show="chart_times_year_visible"></canvas>
		</div>

	</div>
</div>
</ion-list> </ion-content> </ion-view>