<!--
    @author Fosso
-->

<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">
    <!-- Main Tab -->
    <ion-tab title="Main" icon="icon ion-home" href="#/tab/main">
        <ion-nav-view name="tab-main"></ion-nav-view>
    </ion-tab>

    <!-- WorkoutList Tab -->
    <ion-tab title="ActivityList" icon="icon ion-clipboard" href="#/tab/workoutlist">
        <ion-nav-view name="tab-workoutlist"></ion-nav-view>
    </ion-tab>

    <!-- Summary Tab -->
    <ion-tab title="Summary" icon="icon ion-stats-bars" href="#tab/summary">
        <ion-nav-view name="tab-summary"></ion-nav-view>
    </ion-tab>

    <!-- Profile Tab -->
    <ion-tab title="Profile" icon="icon ion-person" href="#/tab/profile">
        <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>

</ion-tabs>
