<ion-view title="ActivityList">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios7-search" ng-click="alCtrl.toggleSearch()">
        </button>
        <button class="button button-icon icon ion-plus" ng-click="alCtrl.addActivity()">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="item item-input-inset" ng-show="alCtrl.searchActive">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="alCtrl.searchQuery">
            </label>
            <button class="button button-clear" style="min-height: inherit;line-height: inherit;" ng-click="alCtrl.toggleSearch()">
                Cancel
            </button>
        </div>
        <ion-list>
            <ion-item class="item-text-wrap" ng-repeat="activity in filteredActivities = (alCtrl.activities | filter:alCtrl.searchQuery | orderBy:'start_time')" href="#/tab/workout/{{activity.id}}">
                {{activity.id}}, {{activity.type}}, ({{activity.start_time}}, {{activity.end_time}})
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>