/* Empty. Add your own CSS if you like */


.speed-card {
	font-size: 250%;
	padding: 30px 10px;
	height: auto !important;
}

.timer-card,
.distance-card {
	font-size: 200%;
	height: auto !important;
	padding: 10px;
	width: 49%;
	display: inline-block;
}

.timer-card span,
.distance-card span {
	display: inline-block;
	height: auto !important;
	line-height: 100%;
}

.timer-card + .distance-card {
	border-left: 1px solid #eee;
}

.settingOption{
	font-weight: bold;
}

.activity-type,
.activity-distance{
    display: inline-block
}
.activity-type{
    float: left;
}
.activity-distance {
    float: left;
    font-size: 0.8em;
    color: rgba(0, 0, 0, .6);
}
.activity-date {
    float: right;
    font-size: 0.8em;
    color: rgba(0, 0, 0, .6);
}
.activity-duration {
    float: right;
}
.clearfix {
    clear: both;
}